          /*-------------------TABLE TRACK CS------------------*/
section#tabletrack .subsection .casestudy .casestudy-header {
  background-image: url(../assets/tabletrack/tt_header.png) no-repeat center center;
  width: 1170px;
  height: 400px;
  padding: 50px 0 0 0;
}

section#tabletrack .subsection .casestudy .cs-title {
  font-size: 30px;
}

section#tabletrack .subsection .casestudy .cs-des {
  font-size: 18px;
}


section#tabletrack .subsection .subtitle p{
  font-size: 18px;
}

section#tabletrack .subsection .casestudy img {
  margin: 0 auto;
  width: 957px;
  display: block;
}
section#tabletrack .subsection .casestudy h2{
  padding: 50px 0 0 0;
  clear: both;
 }

section#tabletrack .subsection .casestudy h4 {
  font-size: 22px;
  clear: both;
}

section#tabletrack .subsection .casestudy a {
  clear: both;
  font-size: 22px;
  color: #17c7d1;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0 0 50px 0;
}
section#tabletrack .subsection .casestudy #cs-group {
  margin: 0 auto;
  width: 1170px;
}

section#tabletrack .subsection .casestudy #cs-group #cs-col-1{
  width: 500px;
  float: left;
  margin: 0 85px 25px 0;
}

section#tabletrack .subsection .casestudy #cs-group #cs-col-2{
  width: 500px;
  float: left;
  margin: 0 0 25px 85px;
}



          /*-------------------RESPONSIVE------------------*/

/* Desktops and laptops */
@media (min-width: 1200px) { 

  section#tabletrack .subsection .casestudy .casestudy-header {
    width: 1170px;
    height: 400px;
    display: block;
    margin: auto;
    padding: 50px 0 0 0;
  }

}

/* iPad Landscape */
@media (max-width: 1199px) and (min-width: 1024px)  {

    section#tabletrack .subsection .casestudy .casestudy-header {
    width: 700px;
    height: 239.32px;
    padding: 50px 0 0 0;
    display: block;
    margin: auto;
  }

}

/* iPad Portrait */
@media (max-width: 1023px) and (min-width: 768px)  {

    section#tabletrack .subsection .casestudy .casestudy-header {
    width: 500px;
    height: 170.94px;
    padding: 50px 0 0 0;
    display: block;
    margin: 0 auto;
  }

}

@media (max-width: 767px) and (min-width: 0px)  {

    section#tabletrack .subsection .casestudy .casestudy-header {
    width: 350px;
    height: 119.66px;
    padding: 50px 0 0 0;
    display: block;
    margin: 0 auto;
  }

}



