body {
	color: #505050;
	line-height: 2em;
	font-family:'Roboto', sans-serif;
	font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}


@font-face {
	font-family: 'Roboto';
}
section .subsection {
	margin: 0 auto;
	display: table;
  padding-left: 15px;
  padding-right: 15px;
/*	width: 1099px;*/
/*	background-color: #F6A790;*/
}
					/*-------------------HEADER-----------------*/


/*----NAVIGATION----*/
section#intro {
	background-color: #17c7d1;
	color: #ffffff;
	text-align: center;
}
section#intro .subsection #nav-wrapper {
/*	background-color: #F6A790;*/
	height: 100px;
}

section#intro .subsection #nav-wrapper #nav-left #logo {
	background-image: url(../assets/logo.svg);
	background-position: 0 0;
	width: 50px;
	height: 50px;
	margin: 25px 0 0 0;	
}

section#intro .subsection #nav-wrapper #nav-left {
	float: left;

}

section#intro .subsection #nav-wrapper #nav-right {
	top: 0;
	float: right;
	padding-top: 35px;
}

section#intro .subsection #nav-wrapper #nav-right a {
	font-family: 'Roboto',"Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #fff;
    font-size: 1.2em;
    font-weight: 200;
    float: left;
    text-decoration: none;
    padding: 0px 0 0 25px;

}

/*----FLOAT NAV----*/

section#nav-2 #float-nav-wrapper {
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	z-index: 999;
}

section#nav-2 #float-nav-wrapper #float-nav {
/*	background-color: #F6A790;*/
	border-bottom: 1px solid #F1F1F2;
	height: 100px;
	background-color: #fff;
}

section#nav-2 #float-nav #float-nav-wrapper-inner {
  padding-left: 15px;
  padding-right: 15px;
	margin: 0 auto;
}

section#nav-2 #float-nav #float-nav-wrapper-inner #float-nav-left #logo {
	background-image: url(../assets/logo-g.svg);
	background-position: 0 0;
	width: 50px;
	height: 50px;
	margin: 25px 0 0 0;	
}

section#nav-2 #float-nav #float-nav-wrapper-inner #float-nav-left {
	float: left;

}

section#nav-2 #float-nav #float-nav-wrapper-inner #float-nav-right {
	top: 0;
	float: right;
	padding-top: 35px;
}

section#nav-2 #float-nav #float-nav-wrapper-inner #float-nav-right a {
	font-family: 'Roboto',"Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #505050;
    font-size: 1.2em;
    font-weight: 200;
    float: left;
    text-decoration: none;
    padding: 0px 0 0 25px;

}

/*----HEADER TITLE----*/
section#intro .subsection #header-title {
	padding: 100px 0 250px 0;
}

section#intro .subsection #header-title .name {
    vertical-align: text-top;
    margin: 0 auto;
    display: table; 
}

section#intro .subsection #header-title .name #first {
	float: left;
}

section#intro .subsection #header-title .name #last {

	opacity: 0.5;
	float: left;
}

section#intro .subsection #header-title .tagline {
	font-size: 18pt;
	clear: left;
}

h2 {
	font-size: 20pt;
	font-family: 'Roboto';
	margin-top: 50px;
}

h4 {
	font-family: 'Roboto',"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.2em;
    font-weight: 200;
}


					/*-------------------ABOUT ME-----------------*/
section#about {
/*	background-color: #959696;*/
}
section#about .subsection .portrait {
    float: left;
    width: 400px;
    height: 400px;
    padding: 25px 75px 75px 0;
}

section#about .subsection .bio {
	/*background-color: #17c7d1;
	width: 50px;
	display: inline;*/
    transform: translateY(50%);
    width: 600px;
    float: left;
    margin: 100px 25px 25px 50px;
    font-size: 18px;
}


					/*-------------------WHAT I DO------------------*/


#do {
	background-color: #f1f1f2;
	clear: left;
}

.nav {
  text-align: center;
}
.btn {
  position: relative;
  display: inline-block;
  margin: 2em;
  padding: .5em 1.5em;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f2;
  border: 1px solid #58585b;
  outline: 0;
}
.btn-selected {
  background-color: #58585b;
  color: #fff;
}
.grid-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
/*.sub-container {
  position: absolute;
  top: 0;*/
.grid {
  margin: 0 auto;
  width: 975px;
  position: absolute;
}

.grid-1 {
  /*background-color: #D359A8;*/
}
.grid-2 {
/*  background-color: #929496;*/
}
.grid-3 {
  /*background-color: #CE895B;*/
}
.sub-container .grid-1 {
  padding-bottom: 50px;
}
.sub-container .grid-2 {
  padding-bottom: 50px;
}

.sub-container .grid-3 {
  padding-bottom: 50px;
}

.hidden-grid {
  display: none;
}
.grid-item {
  float: left;
  width: 225px;
  height: 100px;
  /*background-color: #939597;*/
  /*border: 1px solid;*/
  margin-bottom: 25px;
  /*padding: 0 0 0px 0px;*/
  /*hsla(0, 0%, 0%, 0.5);*/
}
.img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.img-crop {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.grid-item--height1 {
  position: relative;
  width: 225px;  
  height: 320px;
  overflow: hidden; 
}
.grid-item--height2 {
  position: relative;
  width: 225px;
  height: 250px;
  overflow: hidden; 
}
.grid-item--height3 {
  width: 225px;  
  height: 158.33px;
  overflow: hidden; 
  position: relative;
}
.grid-item--height4{
  width: 225px;  
  height: 180px;
  overflow: hidden;
  position: relative;
}
.grid-item--height5{
  width: 225px;  
  height: 158.33px;
  overflow: hidden;
  position: relative;
}
.grid-item--height6{
  width: 225px;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.grid-item--height7{
  width: 225px; 
  height: 250px;
  overflow: hidden;
  position: relative;
}
.grid-item--height8{
  width: 225px; 
  height: 180px;
  overflow: hidden;
  position: relative;
}
.grid-item--height9{
  width: 225px; 
  height: 158.33px;
  overflow: hidden;
  position: relative;
}

/*Responsive*/
@media screen and (max-width: 1000px) {
}  



					/*-------------------WHAT FUELS ME------------------*/
/*.circle{
    border-radius: 50%;
    background-color: #F1F1F2;
    width: 300px;
    height: 300px;
}

.circle-wrapper {
    float: left;
    display: inline-block;
    width: 300px;
    text-align: center;

}

section#fuels .subsection .fuels-cir {
	width: 1070px;
	margin: 0 auto;
	display: table;
	padding: 25px 0 0 0;

}
section#fuels .subsection .fuels-cir .circle-wrapper.one {
	margin: 0 49.75px 25px 0;
}

section#fuels .subsection .fuels-cir .circle-wrapper.two {
	margin: 0 49.75px 25px 49.75px;
}

section#fuels .subsection .fuels-cir .circle-wrapper.three {
	margin: 0 0 25px 49.75px;
}

#icon-1 {
	padding-top: 93px;
    width: 148px;
    height: 107.332px;
}

#icon-2 {
	padding-top: 110px;
    width: 148px;
    height: 84.717px;
}

#icon-3 {
	padding-top: 113px;
    width: 148px;
    height: 73.67px;
}

.fuels-des {

	text-align: center;
}*/
          /*-------------------Fuels 2------------------*/

.circle-position {
  margin: 0 auto;
  display: table;
  padding: 50px 0 50px 0;
}
.circle {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.col-1{
  width: 300px;
  float: left;
  margin: 0 49.75px 25px 0;
}

section#fuels .circle-position .col-position .col-1 h4{
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  padding: 25px 0 0 0;
}

section#fuels .circle-position .col-position .col-2 h4{
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  padding: 25px 0 0 0;
}

section#fuels .circle-position .col-position .col-3 h4{
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  padding: 25px 0 0 0;
}

#blue {
  background-color: #F1F1F2;
  float: left;
  margin: 0 0 25px 0;
}

.col-2 {
  width: 300px;
  float: left;
  margin: 0 49.75px 25px 49.75px;
}

#white {
  background-color: #F1F1F2;
  float: left;
  margin: 0 0 25px 0;
}

.col-3 {
  width: 300px;
  float: left;
  margin: 0 0 25px 49.75px;
}

#gray {
  background-color: #F1F1F2;
  float: left;
  margin: 0 0 25px 0;
}

.circle-icon {
  margin: 0 auto;
  display: table;
}

#icon-1 {
  padding-top: 93px;
  width: 148px;
  height: 107.332px;
}

#icon-2 {
  padding-top: 110px;
    width: 148px;
    height: 84.717px;
}

#icon-3 {
  padding-top: 113px;
    width: 148px;
    height: 73.67px;
}

#circle-des {
  text-align: center;
  padding: 25px 0 0 0;
}


					/*-------------------REACH OUT------------------*/
section#contact {
	background-color: #f1f1f2;
}

section#contact .subsection #contact-icon-container {
  padding: 50px 0 50px 0;
  width: 180px;
  height: 25px;
}

section#contact .subsection #contact-icon-container a{
  width: 50px;
  height: 50px;
}

section#contact .subsection #contact-icon-container #contact-icon-1{
	background-image: url(../assets/linkedin.svg);
	background-position: 0 0;
	width: 50px;
	height: 50px;	
	float: left;
	margin: 0 15px 0 0;
}

section#contact .subsection #contact-icon-container #contact-icon-2{
	background-image: url(../assets/behance.svg);
  background-position: 0 0;
	width: 50px;
	height: 50px;	
	float: left;	
	margin: 0 15px 0 0;
}
section#contact .subsection #contact-icon-container #contact-icon-3{
	background-image: url(../assets/email.svg);
	width: 50px;
	height: 50px;	
	float: left;	
}

/*section#contact .subsection #download-container {
	margin: 25px 0 50px 0;
	float: right;
}*/

section#contact .subsection #res-pdf{
	text-decoration: none;
	font-family: 'Roboto',"Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #505050;
  font-size: 1.2em;
  font-weight: 300;
  clear: both;
}

section#contact .subsection p{
  clear: both;
}



					/*-------------------RESPONSIVE------------------*/

/* Desktops and laptops */
@media (min-width: 1200px) { 
    section .subsection {
      width: 1170px;
    }
    section#nav-2 #float-nav #float-nav-wrapper-inner {
      width: 1170px;
    }
    section#intro .subsection #header-title .name {
      font-size: 25pt;
    }
    section#intro .subsection #header-title .tagline {
      font-size: 18pt;
    }
}

/* iPad Landscape */
@media (max-width: 1199px) and (min-width: 1024px)  {
    section .subsection {
      width: 700px;
    }  
    section#nav-2 #float-nav #float-nav-wrapper-inner {
      width: 700px;
    }

    /*HEADER*/    
    section#intro .subsection #header-title .name {
      font-size: 25pt;
    }
    section#intro .subsection #header-title .tagline {
      font-size: 18pt;
    }

    /*ABOUT ME*/
    section#about .subsection .portrait {
      float: left;
      width: 300px;
      height: 300px;
      padding: 25px 50px 50px 0;
    }

    section#about .subsection .bio {
      width: 300px;
      float: left;
      margin: 25px 25px 25px 25px;
      font-size: 14px;
    }

    /*FUELS*/
    .circle-position {
      margin: 0 auto;
      display: table;
      width: 347px;
      /*vertical-align: center;*/
    }
    .col-1{
      float: left;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
      /*background-color: #000;*/
    }
    .col-2 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }
    .col-3 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }

}



/* iPad Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    section .subsection {
    width: 970px;

}*/

/* iPad Portrait */
@media (max-width: 1023px) and (min-width: 768px)  {
    section .subsection {
      width: 500px;
    }
    section#nav-2 #float-nav #float-nav-wrapper-inner {
      width: 500px;
    }

    /*HEADER*/        
    section#intro .subsection #header-title .name {
      font-size: 18pt;
    }
    section#intro .subsection #header-title .tagline {
      font-size: 13pt;
    }

    /*ABOUT ME*/
    section#about .subsection .portrait {
      float: left;
      width: 200px;
      height: 200px;
      padding: 25px 50px 75px 0;
    }

    section#about .subsection .bio {
    transform: translateY(30%);
      width: 250px;
      float: left;
      margin: 0 0 25px 0;
      font-size: 14px;
    }

    /*FUELS*/
    .circle-position {
      margin: 0 auto;
      display: table;
      width: 347px;
      /*vertical-align: center;*/
    }
    .col-1{
      float: left;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
      /*background-color: #000;*/
    }
    .col-2 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }
    .col-3 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }

}


@media (max-width: 767px) and (min-width: 0px)  {
    section .subsection {
      width: 350px;
    }
    section#nav-2 #float-nav #float-nav-wrapper-inner {
      width: 350px;
    }

    /*HEADER*/        
    section#intro .subsection #header-title .name {
      font-size: 18pt;
    }
    section#intro .subsection #header-title .tagline {
      font-size: 13pt;
    }

    /*ABOUT ME*/
    section#about .subsection h2 {
      text-align: center;
      padding: 0;
    }

    section#about .subsection .portrait {
      width: 350px;
      height: 200px;
      padding: 25px 0 25px 0;
      margin: 0 auto;
    }

    section#about .subsection .portrait img {
      margin: 0 auto;
    }

    section#about .subsection .bio {
      transform: translateY(-50%);
      width: 250px;
      clear: both;
      font-size: 14px;
      text-align: center;
    }
    /*DO*/
    section#do .subsection h2 {
      text-align: center;
      padding: 0;
    } 

    /*FUELS*/
    section#fuels .subsection h2 {
      text-align: center;
      padding: 0;
    }    
    .circle-position {
      margin: 0 auto;
      display: table;
      width: 347px;
      /*vertical-align: center;*/
    }
    .col-1{
      float: left;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
      /*background-color: #000;*/
    }
    .col-2 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }
    .col-3 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }

    /*REACH OUT*/
/*    section#contact .subsection #contact-icon-container {
      height: 10px;
    }

*/
    section#contact .subsection h2 {
      text-align: center;
      padding: 0;
    } 

    section#contact .subsection #contact-icon-container {
      margin: 0 auto;
      display: table;
      padding: 50px 0 25px 0;
    }

    section#contact .subsection #res-pdf{
      margin: 0 auto;
      display: table;
    }

    section#contact .subsection p{
      clear: both;
      text-align: center;
    }
}






