          /*-------------------TABLE TRACK CS------------------*/
section#tabletrack .subsection .casestudy .casestudy-header {
  width: 1170px;
  height: 400px;
  padding: 50px 0 0 0;
}

section#tabletrack .subsection .casestudy .cs-title {
  font-size: 30px;
}

section#tabletrack .subsection .casestudy .cs-des {
  font-size: 18px;
}


section#tabletrack .subsection .subtitle p{
  font-size: 18px;
}

section#tabletrack .subsection .casestudy img {
  margin: 0 auto;
  width: 957px;
  display: block;
}
section#tabletrack .subsection .casestudy h2{
  padding: 50px 0 0 0;
  clear: both;
 }

section#tabletrack .subsection .casestudy h4 {
  font-size: 22px;
  clear: both;
}

section#tabletrack .subsection .casestudy a {
  clear: both;
  font-size: 22px;
  color: #17c7d1;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0 0 50px 0;
}
section#tabletrack .subsection .casestudy #cs-group {
  margin: 0 auto;
  width: 1170px;
}

section#tabletrack .subsection .casestudy #cs-group #cs-col-1{
  width: 500px;
  float: left;
  margin: 0 85px 25px 0;
}

section#tabletrack .subsection .casestudy #cs-group #cs-col-2{
  width: 500px;
  float: left;
  margin: 0 0 25px 85px;
}



          /*-------------------RESPONSIVE------------------*/

/* Desktops and laptops */
@media (min-width: 1200px) { 

}

/* iPad Landscape */
@media (max-width: 1199px) and (min-width: 1024px)  {

  /*TABLETRACK*/
  section#tabletrack .subsection .casestudy .casestudy-header {
  width: 900px;
  height: 307.69px;
  padding: 50px 0 0 0;
  }

    
}



/* iPad Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    section .subsection {
    width: 970px;

}*/

/* iPad Portrait */
@media (max-width: 1023px) and (min-width: 768px)  {
    section .subsection {
      width: 500px;
    }
    section#nav-2 #float-nav #float-nav-wrapper-inner {
      width: 500px;
    }

    /*HEADER*/        
    section#intro .subsection #header-title .name {
      font-size: 18pt;
    }
    section#intro .subsection #header-title .tagline {
      font-size: 13pt;
    }

    /*ABOUT ME*/
    section#about .subsection #bio-container {
      margin: 0 auto;
      display: table;
      width: 347px;
    }

    section#about .subsection #bio-container .portrait {
      width: 350px;
      height: 200px;
      padding: 25px 0 25px 0;
      margin: 0 auto;
    }

    section#about .subsection #bio-container .bio {
    transform: translateY(30%);
      transform: translateY(-25%);
      width: 250px;
      clear: both;
      font-size: 14px;
      text-align: center;
    }


    /*WORK*/
    section#work .subsection #casestudy-container {
    margin: 0 auto;
    display: table;
    width: 347px;
    }

    section#work .subsection #casestudy-container .casestudy-img {
    width: 200px;
    height: 287.61px;
    padding: 25px 0px 0 75px;
    margin: 0 auto;
    }

    section#work .subsection #casestudy-container .casestudy-des {
    transform: translateY(30%);
    transform: translateY(-45%);
    width: 250px;
    clear: both;
    text-align: center;
    }



    /*WHAT I DO**/


    /*FUELS*/
    .circle-position {
      margin: 0 auto;
      display: table;
      width: 347px;
      /*vertical-align: center;*/
    }
    .col-1{
      float: left;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
      /*background-color: #000;*/
    }
    .col-2 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }
    .col-3 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }

}


@media (max-width: 767px) and (min-width: 0px)  {
    section .subsection {
      width: 350px;
    }
    section#nav-2 #float-nav #float-nav-wrapper-inner {
      width: 350px;
    }

    /*HEADER*/        
    section#intro .subsection #header-title .name {
      font-size: 15pt;
    }
    section#intro .subsection #header-title .tagline {
      font-size: 13pt;
    }

    /*ABOUT ME*/
    section#about .subsection h2 {
      text-align: center;
      padding: 0;
    }

    section#about .subsection .portrait {
      width: 350px;
      height: 200px;
      padding: 25px 0 25px 0;
      margin: 0 auto;
    }

    section#about .subsection .portrait img {
      margin: 0 auto;
    }

    section#about .subsection .bio {
      transform: translateY(-25%);
      width: 250px;
      clear: both;
      font-size: 14px;
      text-align: center;
    }

    /*WORK*/
    section#work .subsection h2 {
      text-align: center;
      padding: 0;
    } 

    section#work .subsection #casestudy-container {
    margin: 0 auto;
    display: table;
    width: 347px;
    }

    section#work .subsection #casestudy-container .casestudy-img {
    width: 200px;
    height: 287.61px;
    padding: 25px 0px 0 75px;
    margin: 0 auto;
    }

    section#work .subsection #casestudy-container .casestudy-des {
    transform: translateY(30%);
    transform: translateY(-45%);
    width: 250px;
    clear: both;
    text-align: center;
    }


    /*DO*/
    section#do .subsection h2 {
      text-align: center;
      padding: 0;
    } 

    /*FUELS*/
    section#fuels .subsection h2 {
      text-align: center;
      padding: 0;
    }    
    .circle-position {
      margin: 0 auto;
      display: table;
      width: 347px;
      /*vertical-align: center;*/
    }
    .col-1{
      float: left;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
      /*background-color: #000;*/
    }
    .col-2 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }
    .col-3 {
      clear: both;
      margin: 0 25px 25px 25px;
      padding: 0 0 0 0px;
    }

    /*REACH OUT*/
/*    section#contact .subsection #contact-icon-container {
      height: 10px;
    }

*/
    section#contact .subsection h2 {
      text-align: center;
      padding: 0;
    } 

    section#contact .subsection #contact-icon-container {
      margin: 0 auto;
      display: table;
      padding: 50px 0 25px 0;
    }

    section#contact .subsection #res-pdf{
      margin: 0 auto;
      display: table;
    }

    section#contact .subsection p{
      clear: both;
      text-align: center;
    }
}






