          /*-------------------TABLE TRACK CS------------------*/
section .subsection .casestudy .wrapper {
  width: 1170px;
  margin: 0 auto;
  background: none;
}
section#tabletrack .subsection .casestudy .wrapper .casestudy-header #tabletrack-header {
  background: url("../assets/tabletrack/tt_header.png") no-repeat center center;

  width: 1170px;
  height: 400px;
  padding: 50px 0 0 0;
}

section#tabletrack .subsection .casestudy .cs-title {
  font-size: 30px;
}

section#tabletrack .subsection .casestudy .cs-des {
  font-size: 18px;
}


section#tabletrack .subsection .subtitle p{
  font-size: 18px;
}

section#tabletrack .subsection .casestudy img {
  margin: 0 auto;
  width: 957px;
  display: block;
}
section#tabletrack .subsection .casestudy h2{
  padding: 50px 0 0 0;
  clear: both;
 }

section#tabletrack .subsection .casestudy h4 {
  font-size: 22px;
  clear: both;
}

section#tabletrack .subsection .casestudy a {
  clear: both;
  font-size: 22px;
  color: #17c7d1;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0 0 50px 0;
}
section#tabletrack .subsection .casestudy .wrapper #tt-img.one {
  background: url("../assets/tabletrack/tt_affinity.png");
  width: 957px;
  height: 612px;
}

section#tabletrack .subsection .casestudy .wrapper #tt-img.two {
  background: url("../assets/tabletrack/tt_personas.png");
  width: 957px;
  height: 933px;
}
section#tabletrack .subsection .casestudy #cs-group {
  margin: 0 auto;
  width: 1170px;
}

section#tabletrack .subsection .casestudy #cs-group #cs-col-1{
  width: 500px;
  float: left;
  margin: 0 85px 25px 0;
}

section#tabletrack .subsection .casestudy #cs-group #cs-col-2{
  width: 500px;
  float: left;
  margin: 0 0 25px 85px;
}



          /*-------------------RESPONSIVE------------------*/

/* Desktops and laptops */
@media (min-width: 1200px) { 

  section .subsection {
    width: 1170px;
  }

  section .subsection .casestudy .wrapper {
  width: 1170px;
  margin: 0 auto;
  background: none;
  }

  section#tabletrack .subsection .casestudy .wrapper .casestudy-header #tabletrack-header   {
    width: 1170px;
    height: 400px;
    display: block;
    margin: auto;
    padding: 50px 0 0 0;
  }

}

/* iPad Landscape */
@media (max-width: 1199px) and (min-width: 1024px)  {
    section .subsection {
      width: 700px;
    } 
    section .subsection .casestudy .wrapper {
    width: 700px;
    margin: 0 auto;
    background: none;
    }

    section#tabletrack .subsection .casestudy .wrapper .casestudy-header #tabletrack-header   {
    width: 700px;
    height: 239.32px;
    padding: 50px 0 0 0;
    display: block;
    margin: auto;
  }

}

/* iPad Portrait */
@media (max-width: 1023px) and (min-width: 768px)  {
    section .subsection {
      width: 500px;
    }

    section .subsection .casestudy .wrapper {
      width: 500px;
      margin: 0 auto;
      background: none;
    }

    section#tabletrack .subsection .casestudy .wrapper .casestudy-header #tabletrack-header   {
    width: 500px;
    height: 170.94px;
    padding: 50px 0 0 0;
    display: block;
    margin: 0 auto;
  }

}

@media (max-width: 767px) and (min-width: 0px)  {
    section .subsection {
      width: 350px;
    }

    section .subsection .casestudy .wrapper {
      width: 350px;
      margin: 0 auto;
      background: none;
    }

    section#tabletrack .subsection .casestudy .wrapper .casestudy-header #tabletrack-header   {
    width: 350px;
    height: 119.66px;
    padding: 50px 0 0 0;
    display: block;
    margin: 0 auto;
  }

}



